.*.sw[op]
*.a
*.o
.deps/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/snake
stamp-h1
test/check_snake
